<div>
  <select [(ngModel)]="selectedColumns" multiple>
    <option value="lp">LP</option>
    <option value="id">ID</option>
    <option value="client">Klient</option>
    <option value="contractNumber">Numer umowy</option>
    <option value="fkNumber">Numer w FK</option>
    <option value="redemptionOfRepayments">Splata Umorzenie</option>
    <option value="sumOfRepayments">Suma Splat</option>
    <option value="capital">Kapital</option>
    <option value="contractualTermInterest">Odsetki umowne terminowe</option>
    <option value="overdueContractualInterest">Odsetki umowne zalegle</option>
    <option value="sumOfContractualInterest">Suma odsetek umownych</option>
    <option value="penaltyInterest">Odsetki karne</option>
    <option value="interestInCourt">Odsetki w sadzie</option>
    <option value="totalInterest">Suma odsetek</option>
    <option value="commission">Prowizja</option>
    <option value="bailiffCommission">Prowizja komornicza</option>
    <option value="overpaymentOfCapitalPeriod">Nadplata kapitalu w okresie</option>
    <option value="othersInCourt">Inne w sadzie</option>
  </select>
  <button (click)="makePdf()">Generuj PDF</button>
  <button (click)="makeExcel()">Generuj EXCEL</button>
  <button (click)="downloadFile()">Pobierz plik json</button>
  <table id="content" #content>
    <thead>
      <tr>
        <td></td>
        <th *ngIf="selectedColumns.indexOf('lp') !== -1">L.p.</th>
        <th *ngIf="selectedColumns.indexOf('id') !== -1">ID</th>
        <th *ngIf="selectedColumns.indexOf('client') !== -1">Klient</th>
        <th *ngIf="selectedColumns.indexOf('contractNumber') !== -1">Numer umowy</th>
        <th *ngIf="selectedColumns.indexOf('fkNumber') !== -1">Numer w FK</th>
        <th *ngIf="selectedColumns.indexOf('redemptionOfRepayments') !== -1">Splata Umorzenie</th>
        <th *ngIf="selectedColumns.indexOf('sumOfRepayments') !== -1">Suma Splat</th>
        <th *ngIf="selectedColumns.indexOf('capital') !== -1">Kapital</th>
        <th *ngIf="selectedColumns.indexOf('contractualTermInterest') !== -1">Odsetki umowne terminowe</th>
        <th *ngIf="selectedColumns.indexOf('overdueContractualInterest') !== -1">Odsetki umowne zalegle</th>
        <th *ngIf="selectedColumns.indexOf('sumOfContractualInterest') !== -1">Suma odsetek umownych</th>
        <th *ngIf="selectedColumns.indexOf('penaltyInterest') !== -1">Odsetki karne</th>
        <th *ngIf="selectedColumns.indexOf('interestInCourt') !== -1">Odsetki w sadzie</th>
        <th *ngIf="selectedColumns.indexOf('totalInterest') !== -1">Suma odsetek</th>
        <th *ngIf="selectedColumns.indexOf('commission') !== -1">Prowizja</th>
        <th *ngIf="selectedColumns.indexOf('bailiffCommission') !== -1">Prowizja komornicza</th>
        <th *ngIf="selectedColumns.indexOf('overpaymentOfCapitalPeriod') !== -1">Nadplata kapitalu w okresie</th>
        <th *ngIf="selectedColumns.indexOf('othersInCourt') !== -1">Inne w sadzie</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of raportList">
        <td></td>
        <td *ngIf="selectedColumns.indexOf('lp') !== -1">{{item.lp}}</td>
        <td *ngIf="selectedColumns.indexOf('id') !== -1">{{item.id}}</td>
        <td *ngIf="selectedColumns.indexOf('client') !== -1">{{item.client}}</td>
        <td *ngIf="selectedColumns.indexOf('contractNumber') !== -1">{{item.contractNumber}}</td>
        <td *ngIf="selectedColumns.indexOf('fkNumber') !== -1">{{item.fkNumber}}</td>
        <td *ngIf="selectedColumns.indexOf('redemptionOfRepayments') !== -1">{{item.redemptionOfRepayments}}</td>
        <td *ngIf="selectedColumns.indexOf('sumOfRepayments') !== -1">{{item.sumOfRepayments}}</td>
        <td *ngIf="selectedColumns.indexOf('capital') !== -1">{{item.capital}}</td>
        <td *ngIf="selectedColumns.indexOf('contractualTermInterest') !== -1">{{item.contractualTermInterest}}</td>
        <td *ngIf="selectedColumns.indexOf('overdueContractualInterest') !== -1">{{item.overdueContractualInterest}}</td>
        <td *ngIf="selectedColumns.indexOf('sumOfContractualInterest') !== -1">{{item.sumOfContractualInterest}}</td>
        <td *ngIf="selectedColumns.indexOf('penaltyInterest') !== -1">{{item.penaltyInterest}}</td>
        <td *ngIf="selectedColumns.indexOf('interestInCourt') !== -1">{{item.interestInCourt}}</td>
        <td *ngIf="selectedColumns.indexOf('totalInterest') !== -1">{{item.totalInterest}}</td>
        <td *ngIf="selectedColumns.indexOf('commission') !== -1">{{item.commission}}</td>
        <td *ngIf="selectedColumns.indexOf('bailiffCommission') !== -1">{{item.bailiffCommission}}</td>
        <td *ngIf="selectedColumns.indexOf('overpaymentOfCapitalPeriod') !== -1">{{item.overpaymentOfCapitalPeriod}}</td>
        <td *ngIf="selectedColumns.indexOf('othersInCourt') !== -1">{{item.othersInCourt}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>SUMA</td>
        <td *ngIf="selectedColumns.indexOf('lp') !== -1"></td>
        <td *ngIf="selectedColumns.indexOf('id') !== -1"></td>
        <td *ngIf="selectedColumns.indexOf('client') !== -1"></td>
        <td *ngIf="selectedColumns.indexOf('contractNumber') !== -1"></td>
        <td *ngIf="selectedColumns.indexOf('fkNumber') !== -1"></td>
        <td *ngIf="selectedColumns.indexOf('redemptionOfRepayments') !== -1">{{sum1}}</td>
        <td *ngIf="selectedColumns.indexOf('sumOfRepayments') !== -1">{{sum2}}</td>
        <td *ngIf="selectedColumns.indexOf('capital') !== -1">{{sum3}}</td>
        <td *ngIf="selectedColumns.indexOf('contractualTermInterest') !== -1">{{sum4}}</td>
        <td *ngIf="selectedColumns.indexOf('overdueContractualInterest') !== -1">{{sum5}}</td>
        <td *ngIf="selectedColumns.indexOf('sumOfContractualInterest') !== -1">{{sum6}}</td>
        <td *ngIf="selectedColumns.indexOf('penaltyInterest') !== -1">{{sum7}}</td>
        <td *ngIf="selectedColumns.indexOf('interestInCourt') !== -1">{{sum8}}</td>
        <td *ngIf="selectedColumns.indexOf('totalInterest') !== -1">{{sum9}}</td>
        <td *ngIf="selectedColumns.indexOf('commission') !== -1">{{sum10}}</td>
        <td *ngIf="selectedColumns.indexOf('bailiffCommission') !== -1">{{sum11}}</td>
        <td *ngIf="selectedColumns.indexOf('overpaymentOfCapitalPeriod') !== -1">{{sum12}}</td>
        <td *ngIf="selectedColumns.indexOf('othersInCourt') !== -1">{{sum13}}</td>
      </tr>
    </tfoot>
  </table>
</div>